body{
    color: #40514E;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-align: center;
}

a, .copyright {
    text-decoration: none;
    color: #EAF6F6;
}

h1, h2, h3 {
    color: #66BFBF;
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
    font-weight: normal;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

/* top container section */
#top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}

.cloud-img1 {
    position: absolute;
    right: 350px;
    top: 60px;
}

.title-heading {
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
}

.cloud-img2 {
    position: absolute;
    left: 380px;
    top: 250px;
}

/* middle container section */
#middle-container {
    margin: 100px 0;
}

.profile-pic {
    width: 20%;
}

/* skills section */


.skill-row {
    width: 50%;
    margin: 9.38em auto 11.56em auto;
    text-align: left;
    line-height: 2;
}

.skill-img1 {
    width: 25%;
    float: left;
    margin-right: 30px;
}


.skill-img2 {
    width: 25%;
    float: right;
    margin-left: 30px;
}

/* contact section */


/* Bottom container section */
#bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px 0;
}

.contact-content {
    width: 50%;
    margin: 40px auto 60px;
}

 /* Contact me button */
.button {
    background-color: #11cdd4;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: normal;
    padding: 20px;
}

.button:hover {
    background-color: #30E3CB;
    border-radius: 8px;
    text-decoration: none;
}

/* footer */
.copyright {
    font-size: 0.75rem;
    padding: 20px auto 20px;
}

.fab1 {
    padding-right: 10px;
}
